
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Outfit:wght@100..900&family=Prata&display=swap');


*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --primary-color: #0e6eff;
    --secondary-color: #ffc928;
    --dark-color:#23242a;
    --pastel-color:#d1dce5;
    --light-color:#ffffff;
    

}

body{
    font-family: 'arial', sans-serif;
}
.main-container{
    width: 105%;
    height: 600px;
    background-color: var(--dark-color);
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-left{
    font-family: Martel Sans sans-serif;
    color: white;
    font-size: 18px;
    font-style:italic ;
    letter-spacing: 2px;
    font-weight: 600;
}
.nav-items{
    padding: 30px 100px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 30px;
}
.nav-items p{
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.nav-items button{
    padding: 1px 6px;
    margin-top: -5px;
    font-size: 12px;
    background-color: #222329;
    border-color: white;
    color: white;
    cursor: pointer;
}

.hero-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}
.hero-sub{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}

.hero-sub p{
    color: white;
    font-size: 19px;
    font-weight: 300;
}
.hero-sub h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}
.hero-sub button{
    width: 23%;
    padding: 15px 0px;
    align-self: center;
    background-color: #ff4141;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.main-card{
    height: 300px;

    position: relative;
}

.cards{

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    height: 330px;
    background-color: var(--light-color);
    border-radius: 10px;
}
.cards h2{
    font-size: 30px;
    font-weight: 500;
    padding: 35px 0 0 20px;
}
.cards p{
    opacity: 0.6;
    padding: 10px 0 0 20px;
}
.cards a{
    padding: 10px 0 0 20px;
    color:black;
    opacity: 0.3;
    font-weight: bold;

}
.cards a:hover{
    color: var(--primary-color);
    opacity: 1;
}
.card-1{
    position: absolute;
    top: -20%;
    right: 55%;
}
.card-2{
    position: absolute;
    top: -20%;
    right: 35%;
}
.card-3{
    position: absolute;
    top: -20%;
    right: 15%;
}
.card-4{
    position: absolute;
    top: -20%;
    right: -5%;
}

.mountain-sec{
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    padding: 0px 250px;
    align-items: center;
}

.mountain-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 30%; */
}
.mountain-left h2{
    font-size: 40px;
    width: 75%;
}
.mountain-left a{
    color: var(--primary-color);
    font-weight: bold;
}

/* Profile Section */

.profile-sec{
    display: flex;
    /* justify-content: space-between; */
    padding: 0px 250px;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}
.profile-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile-right h2{

    font-size: 40px;
    width: 75%;
}
.profile-right a{
    color: var(--primary-color);
    font-weight: bold;
}

/* Text Section */

.text-sec{
    display: flex;
    padding: 0px 250px;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    
}
.text-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-left h2{
    font-size: 40px;
    /* width: 75%; */
    
}
.text-right{
    width: 40%;
}
.design-sec{
    display: flex;
    /* justify-content: center; */
    padding: 0px 250px;
    margin-top: 50px;
    
}
.design-sec h4{
    font-size: 18px;
    font-weight: 600;
}
.design-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}
.design-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

/* color box section */

.color-box{
    height: 200px;
    padding: 0px 250px;
    margin-top: 100px;
    
}
.sub-color{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--dark-color);
    border-radius: 10px;
    padding: 0px 50px;
}
.color-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    color: var(--light-color);
}
.color-left h3{
    
    font-size: 25px;
    font-weight: 400;
}
.color-left p{
    font-size: 14px;
}
.color-right{
    display: flex;
    justify-content: center;
    width: 50%;
}
.color-right button{
    padding: 15px 30px;
    /* align-self: center; */
    background-color: #ff4141;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.after-box{
    padding: 0px 250px;
    display: flex;
    gap: 50px;
}