
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Outfit:wght@100..900&family=Prata&display=swap');


*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --primary-color: #0e6eff;
    --secondary-color: #ffc928;
    --dark-color:#23242a;
    --pastel-color:#d1dce5;
    --light-color:#ffffff;
    

}

body{
    font-family: 'arial', sans-serif;
    /* overflow: hidden; */
}
.main-container{
    width: 105%;
    height: 600px;
    background-color: var(--dark-color);
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-left{
    font-family: Martel Sans sans-serif;
    color: white;
    font-size: 18px;
    font-style:italic ;
    letter-spacing: 2px;
    font-weight: 600;
}
.nav-items{
    padding: 30px 100px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 30px;
}
.nav-items p{
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.nav-items button{
    padding: 1px 6px;
    margin-top: -5px;
    font-size: 12px;
    background-color: #222329;
    border-color: white;
    color: white;
    cursor: pointer;
}

.hero-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}
.hero-sub{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}

.hero-sub p{
    color: white;
    font-size: 19px;
    font-weight: 300;
}
.hero-sub h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}
.hero-sub button{
    width: 23%;
    padding: 15px 0px;
    align-self: center;
    background-color: #ff4141;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.main-card{
    height: 300px;

    position: relative;
}

.cards{

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    height: 330px;
    background-color: var(--light-color);
    border-radius: 10px;
}
.cards h2{
    font-size: 30px;
    font-weight: 500;
    padding: 35px 0 0 20px;
}
.cards p{
    opacity: 0.6;
    padding: 10px 0 0 20px;
}
.cards a{
    padding: 10px 0 0 20px;
    color:black;
    opacity: 0.3;
    font-weight: bold;

}
.cards a:hover{
    color: var(--primary-color);
    opacity: 1;
}
.card-1{
    position: absolute;
    top: -20%;
    right: 55%;
}
.card-2{
    position: absolute;
    top: -20%;
    right: 35%;
}
.card-3{
    position: absolute;
    top: -20%;
    right: 15%;
}
.card-4{
    position: absolute;
    top: -20%;
    right: -5%;
}
.sections{
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 0px 250px;
}

.mountain-sec{
    display: flex;
    gap: 50px;
    align-items: center;
}

.mountain-left{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.mountain-left h2{
    font-size: 40px;
    width: 75%;
}
.mountain-left a{
    color: var(--primary-color);
    font-weight: bold;
}

/* Profile Section */

.profile-sec{
    display: flex;
  
    
    align-items: center;
    gap: 50px;
    
}
.profile-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile-right h2{

    font-size: 40px;
    width: 75%;
}
.profile-right a{
    color: var(--primary-color);
    font-weight: bold;
}

/* Text Section */

.text-sec{
    display: flex;
    
    align-items: center;
    gap: 50px;
    
    
}
.text-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-left h2{
    font-size: 40px;
    /* width: 75%; */
    
}
.text-right{
    width: 40%;
}
.design-sec{
    display: flex;
    /* justify-content: center; */
    
    margin-top: 50px;
    
}
.design-sec h4{
    font-size: 18px;
    font-weight: 600;
}
.design-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}
.design-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

/* color box section */

.color-box{
    height: 200px;
    
    margin-top: 100px;
    
}
.sub-color{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--dark-color);
    border-radius: 10px;
    padding: 0px 50px;
}
.color-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    color: var(--light-color);
}
.color-left h3{
    
    font-size: 25px;
    font-weight: 400;
}
.color-left p{
    font-size: 14px;
}
.color-right{
    display: flex;
    justify-content: center;
    width: 50%;
}
.color-right button{
    padding: 15px 30px;
    /* align-self: center; */
    background-color: #ff4141;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.after-box{
    
    display: flex;
    /* justify-content: space-evenly; */
    gap: 100px;
    
}

.after-box h2{
    width: 70%;
}
.after-box a{
 color: var(--primary-color);
 font-weight: 600;
}
.three-col-main{
    display: flex;
    justify-content: center;
    gap: 55px;
}

.col-1 ,.col-2 , .col-3 {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 35%;
    width: 300px;
    height: 280px;
    /* background-color: #0e6eff; */
    /* box-shadow: 5px 5px 5px black; */
}

.three-col-main a{
    /* padding: 10px 0 0 20px; */
    color:black;
    opacity: 0.3;
    font-weight: bold;
    align-self: flex-start;
}
.three-col-main a:hover{
    color: var(--primary-color);
    opacity: 1;
}
.col-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.col-div h2 {
    width: 50%;
    align-self: center;
    font-size: 40px;
}
.col-div p{
    width: 50%;
    align-self: center;

}

.img-section{
    display: flex;
}
.left-img{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.left-first{
    display: flex;
    gap: 50px;
}
.left-second{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left-second h2{
    font-size: 40px;
}
.left-second p{
    width: 70%;
}
.right-img{
    width: 40%;
}
.right-img img{
    
    border-radius: 10px;
}
.watch-main{
    display: flex;
    gap: 100px;
}
.watch-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.watch-right h2{
    font-size: 40px;
}
.sea-img-section{
    display: flex;
    gap: 40px;
}
.sea-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sea-left h2{
    font-size: 40px;
}
.sea-left p{
    width: 80%;
}
.comment-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.comment{
    width: 50%;
}
.comment p{
    font-size: 20px;
    font-weight: 600;
}
.comment-profile{
    display: flex;
    gap: 20px;
}
.profile-name{
    font-size: 18px;
    font-weight: 600;
}

.profile-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0px 250px;
    margin-top: 100px;
}
.pc-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.pc-first h2{
    font-size: 40px;
}
.pc-first p{
    width: 70%;
}
.pc-images{
    display: flex;
    gap: 30px;
}
.pc-img-1,.pc-img-2,.pc-img-3,.pc-img-4{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    /* object-fit: contain; */
}

.last-section{
    display: flex;
    gap: 50px;
    margin-top: 100px;
}
.last-right{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;

}
.last-right h2{
    font-size: 54px;
}
.last-right button{
    padding: 15px 30px;
    width: 20%;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer p:nth-child(1){
    opacity: 0.5;
}
