* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b2b2b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*    Navbar    */

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-heading {

    margin: 35px 70px;
    width: 45%;
}

.nav-items {
    display: flex;
    gap: 70px;
    width: 55%;
    margin: 35px 70px;
    font-size: 16px;
    font-weight: 600;
}
.nav-items p{
    
    cursor: pointer;
}

.nav-items button {
    padding: 15px 45px;
    margin-top: -15px;
    border-radius: 20px;
    background-color: #a259ff;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 700;
}


/*      Hero Section     */

.hero-main {
    display: flex;
    gap: 304px;
    justify-content: center;
    margin-top: 50px;
}

.hero-left {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-left h1 {
    font-size: 70px;
}

.hero-para {
    color: rgba(255, 255, 255, 0.61);
}

.hero-left button {
    width: 40%;
    padding: 20px 40px;
    border-radius: 20px;
    border: none;
    background-color: #a259ff;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.right-last {
    display: flex;
    gap: 80px;
}

.right-last p {
    font-size: 25px;
    font-weight: 600;
}

.span-text {
    font-size: 16px;
    font-weight: 300;
}